<section class="advantages section" id="advantages">
  <div class="container">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-desc">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages-desktop-materials-1x.jpg 1x,
              /img/advantages-desktop-materials-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/advantages-tablet-materials-1x.jpg 1x,
              /img/advantages-tablet-materials-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/advantages-mobile-materials-1x.jpg 1x,
              /img/advantages-mobile-materials-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/advantages-desktop-materials-1x.jpg"
            loading="lazy"
            alt="threads and leaf"
          />
        </picture>
        <h3 class="advantages-subhead">Стійкість та екологічність</h3>
        <p class="advantages-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages-desktop-sewing-1x.jpg 1x,
              /img/advantages-desktop-sewing-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/advantages-tablet-sewing-1x.jpg 1x,
              /img/advantages-tablet-sewing-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/advantages-mobile-sewing-1x.jpg 1x,
              /img/advantages-mobile-sewing-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/advantages-desktop-sewing-1x.jpg"
            alt="hands that sew"
          />
        </picture>
        <h3 class="advantages-subhead advantages-subhead-part">
          Міцність і довговічність
        </h3>
        <p class="advantages-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item">
        <picture>
          <source
            srcset="
              /img/advantages-desktop-bags-1x.jpg 1x,
              /img/advantages-desktop-bags-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/advantages-tablet-bags-1x.jpg 1x,
              /img/advantages-tablet-bags-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            class="advantages-img"
            srcset="
              /img/advantages-mobile-bags-1x.jpg 1x,
              /img/advantages-mobile-bags-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="advantages-img"
            src="/img/advantages-desktop-bags-1x.jpg"
            alt="three bags"
          />
        </picture>
        <h3 class="advantages-subhead">Стильний та сучасний дизайн</h3>
        <p class="advantages-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
