<section class="reviews section" id="feedbacks">
  <div class="container">
    <h2 class="reviews-title">Що говорять наші клієнти</h2>
    <ul class="reviews-list">
      <li class="review-card">
        <ul class="stars animate">
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="text">“Сумка дуже зручна та стильна, використовую щодня!”</p>
        <p class="author">Анна</p>
      </li>

      <li class="review-card">
        <ul class="stars animate">
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="text">“Відмінна якість матеріалів, приємно здивована.”</p>
        <p class="author">Ігор</p>
      </li>

      <li class="review-card">
        <ul class="stars animate">
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
        </ul>
        <p class="text">Сумка повністю відповідає опису, рекомендую!</p>
        <p class="author">Олена</p>
      </li>

      <li class="review-card">
        <ul class="stars">
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-full">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-fill"></use>
            </svg>
          </li>
          <li class="star-empty">
            <svg class="star-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star-empty"></use>
            </svg>
          </li>
        </ul>
        <p class="text">“Швидка доставка та гарне обслуговування.”</p>
        <p class="author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
