<section class="hero section" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h1>
      <div class="hero-info">
        <p class="hero-description">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a class="hero-button" href="#assortment">Купити зараз</a>
      </div>
    </div>

    <div class="hero-image-wrapper">
      <picture>
        <source
          srcset="/img/hero-comp-1x.jpg 1x, /img/hero-comp-2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/hero-tab-1x.jpg 1x, /img/hero-tab-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/img/hero-mob-1x.jpg 1x, /img/hero-mob-2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="/img/hero-comp-1x.jpg" alt="threads and leaf" />
      </picture>
    </div>
  </div>
</section>
